<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Aluno</title>
</head>
<body>
    <h1>Cadastrar Aluno</h1>
    <table border="1" width = "70%">
        <form action="/add" method="POST">
            <tr>
                <td>Digite seu R.A</td>
                <td><input type="text" name="ra"  /></td>
            </tr>
            <tr>
                <td>Digite seu Nome</td>
                <td><input type="text" name="nome"  /></td>
            </tr>
            <tr>
                <td>Digite seu Email</td>
                <td><input type="text" name="email"  /></td>
            </tr>
            <tr>
                <td>Digite seu Logradouro</td>
                <td><input type="text" name="logradouro"  /></td>
            </tr>
            <tr>
                <td>Digite seu Numero</td>
                <td><input type="text" name="numero"  /></td>
            </tr>
            <tr>
                <td>Digite seu CEP</td>
                <td><input type="text" name="cep"  /></td>
            </tr>
            <tr>
                <td>Digite seu Bairro</td>
                <td><input type="text" name="bairro"  /></td>
            </tr>
            <tr>
                <th colspan="2">
                <input type="submit" name="Enviar"  />
            </th>
            </tr>    
        </form>
    <table>
</body>
</html>